{% extends "admin.html" %}

{% block title %}
<title>Quản lý phim</title>
{% endblock %}

{% block content %}
<div class="d-float">
    <span class="float-left"><h2>Quản lý thẻ thành viên</h2></span>
    <span class="float-right"><button type="button" class="btn btn-primary create"><i class="fas fa-plus"></i></button></span>
</div>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Mã thẻ</th>
                <th>Tên thành viên</th>
                <th>CMND</th>
                <th>Sinh nhật</th>
                <th>VIP</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<nav>
    <ul class="pagination pagination-sm justify-content-center">
        <li class="page-item previous"><a class="page-link" href="#">&laquo;</a></li>
        <li class="page-item disabled"><a class="page-link" href="#"></a></li>
        <li class="page-item next"><a class="page-link" href="#">&raquo;</a></li>
    </ul>
</nav>

<div class="modal" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="schedmemberLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông tin lịch chiếu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitch1" name="is_vip">
                            <label class="custom-control-label" for="customSwitch1">VIP</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id" class="col-form-label">Mã thẻ:</label>
                        <input type="text" class="form-control" name="id">
                    </div>
                    <div class="form-group">
                        <label for="full_name" class="col-form-label">Tên thành viên:</label>
                        <input type="text" class="form-control" name="full_name">
                    </div>
                    <div class="form-group">
                        <label for="id_card" class="col-form-label">CMND:</label>
                        <input type="text" class="form-control" name="id_card">
                    </div>
                    <div class="form-group">
                        <label for="birthday" class="col-form-label">Sinh nhật:</label>
                        <input type="date" class="form-control" name="birthday">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="create">Tạo</button>
                <button type="button" class="btn btn-primary" id="edit">Lưu</button>
                <button type="button" class="btn btn-danger" id="delete">Xoá</button>
            </div>
        </div>
    </div>
</div>

<script>
    TYPE_MAP = [{% for k, v in TYPE_MAP.items %} "{{v}}", {% endfor %}];
    RATE_MAP = [{% for k, v in RATE_MAP.items %} "{{v}}", {% endfor %}];
    LANGUAGE_MAP = [{% for k, v in LANGUAGE_MAP.items %} "{{v}}", {% endfor %}];

    async function load() {
        const page = new URLSearchParams(window.location.search).get("page");
        const response = await fetch(`/api/v1/member/?page=${page}`, { method: 'GET' });
        const result = await response.json();

        $(".table tbody").empty();
        for (const member of result.members) {
            $(".table tbody").append(
                `<tr>
                    <td>${member.id}</td>
                    <td>${member.full_name}</td>
                    <td>${member.id_card}</td>
                    <td>${member.birthday}</td>
                    <td>${member.is_vip}</td>
                    <td>
                        <a class="edit" data-id="${member.id}">Sửa</a>|
                        <a class="delete" data-id="${member.id}">Xoá</a>
                    </td>
                </tr>`
            );
        }
        $(".pagination .page-item.previous a").attr("href", `?page=${result.paginator.number - 1}`);
        $(".pagination .page-item.disabled a").text(`${result.paginator.number} of ${result.paginator.num_pages}`);
        $(".pagination .page-item.next a").attr("href", `?page=${result.paginator.number + 1}`);
        refresh();
    }

    async function create() {
        var formdata = new FormData();
        formdata.append("csrfmiddlewaretoken", $("input[name='csrfmiddlewaretoken']").val());
        formdata.append("full_name", $("input[name='full_name']").val());
        formdata.append("id_card", $("input[name='id_card']").val());
        formdata.append("birthday", $("input[name='birthday']").val());
        formdata.append("is_vip", $("input[name='is_vip']").is(":checked"));

        const response = await fetch("/api/v1/member/create", { method: 'POST', body: formdata });
        const result = await response.json();
        if (result.message) {
            alert(result.message);
            load();
        }
        if (result.error) {
            alert(result.error);
        }
        refresh();
    }

    async function get(id) {
        const response = await fetch("/api/v1/member/" + id, { method: 'GET' });
        const result = await response.json();
        if ($("input[name='is_vip']").is(":checked") != result.member.is_vip) {
            $("input[name='is_vip']").click();
        }
        $("input[name='id']").val(result.member.id);
        $("input[name='full_name']").val(result.member.full_name);
        $("input[name='id_card']").val(result.member.id_card);
        $("input[name='birthday']").val(result.member.birthday);
    }

    async function edit(id) {
        var formdata = new FormData();
        formdata.append("csrfmiddlewaretoken", $("input[name='csrfmiddlewaretoken']").val());
        formdata.append("full_name", $("input[name='full_name']").val());
        formdata.append("id_card", $("input[name='id_card']").val());
        formdata.append("birthday", $("input[name='birthday']").val());
        formdata.append("is_vip", $("input[name='is_vip']").is(":checked"));

        const response = await fetch("/api/v1/member/" + id + "/edit", { method: 'POST', body: formdata });
        const result = await response.json();
        if (result.message) {
            alert(result.message);
            load();
        }
        if (result.error) {
            alert(result.error);
        }
        refresh();
    }

    async function del(id) {
        const response = await fetch("/api/v1/member/" + id + "/delete", { method: 'GET' });
        const result = await response.json();
        if (result.message) {
            alert(result.message);
            load();
        }
        if (result.error) {
            alert(result.error);
        }
        refresh();
    }

    function refresh() {
        $("#create").unbind('click').bind('click', (e) => {
            create();
        });

        $("#edit").unbind('click').bind('click', (e) => {
            if (confirm("Bạn có muốn lưu!")) {
                edit($('input[name="id"]').val());
            }
        });

        $("#delete").unbind('click').bind('click', (e) => {
            if (confirm("Bạn có muốn xoá!")) {
                del($('input[name="id"]').val());
            }
        });

        $(".create").unbind('click').bind('click', (e) => {
            $('.form-control').val("");
            $("input[name='id']").parent().hide();
            $('#memberModal').modal('show');
            $('#create').show();
            $('#edit').hide();
            $('#delete').hide();
        });

        $(".edit").unbind('click').bind('click', (e) => {
            $("input[name='id']").parent().show();
            get($(e.target).data("id"));
            $('#memberModal').modal('show');
            $('#create').hide();
            $('#edit').show();
            $('#delete').show();
        });

        $(".delete").unbind('click').bind('click', (e) => {
            if (confirm("Bạn có muốn xoá!")) {
                del($(e.target).data("id"));
            }
        });
        $('#memberModal').modal('hide');
    }

    $(document).ready(() => {
        load();
    });
</script>
{% endblock %}