{% extends "admin.html" %}

{% block title %}
<title>Quản lý phim</title>
{% endblock %}

{% block content %}
<div class="d-float">
    <span class="float-left"><h2>Quản lý nhân viên</h2></span>
    <span class="float-right"><button type="button" class="btn btn-primary create"><i class="fas fa-plus"></i></button></span>
</div>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Họ và tên lót</th>
                <th>Tên</th>
                <th>Quản trị viên</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<nav>
    <ul class="pagination pagination-sm justify-content-center">
        <li class="page-item previous"><a class="page-link" href="#">&laquo;</a></li>
        <li class="page-item disabled"><a class="page-link" href="#"></a></li>
        <li class="page-item next"><a class="page-link" href="#">&raquo;</a></li>
    </ul>
</nav>

<div class="modal" id="staffModal" tabindex="-1" role="dialog" aria-labelledby="schedstaffLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông tin nhân viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="text" name="id" hidden>
                    <div class="form-group">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitch1" name="is_superuser">
                            <label class="custom-control-label" for="customSwitch1">Quản trị viên</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-form-label">Username:</label>
                        <input type="text" class="form-control" name="username">
                    </div>
                    <div class="form-group">
                        <label for="last_name" class="col-form-label">Họ và tên lót:</label>
                        <input type="text" class="form-control" name="last_name">
                    </div>
                    <div class="form-group">
                        <label for="first_name" class="col-form-label">Tên:</label>
                        <input type="text" class="form-control" name="first_name">
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-form-label">Mật khẩu:</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="create">Tạo</button>
                <button type="button" class="btn btn-primary" id="edit">Lưu</button>
                <button type="button" class="btn btn-danger" id="delete">Xoá</button>
            </div>
        </div>
    </div>
</div>

<script>
    async function load() {
        const page = new URLSearchParams(window.location.search).get("page");
        const response = await fetch(`/api/v1/staff/?page=${page || 1}`, { method: 'GET' });
        const result = await response.json();

        $(".table tbody").empty();
        for (const staff of result.staffs) {
            $(".table tbody").append(
                `<tr>
                    <td>${staff.id}</td>
                    <td>${staff.username}</td>
                    <td>${staff.last_name}</td>
                    <td>${staff.first_name}</td>
                    <td>${staff.is_superuser}</td>
                    <td>
                        <a class="edit" data-id="${staff.id}">Sửa</a>|
                        <a class="delete" data-id="${staff.id}">Xoá</a>
                    </td>
                </tr>`
            );
        }
        $(".pagination .page-item.previous a").attr("href", `?page=${result.paginator.number - 1}`);
        $(".pagination .page-item.disabled a").text(`${result.paginator.number} of ${result.paginator.num_pages}`);
        $(".pagination .page-item.next a").attr("href", `?page=${result.paginator.number + 1}`);
        refresh();
    }

    async function create() {
        var formdata = new FormData();
        formdata.append("csrfmiddlewaretoken", $("input[name='csrfmiddlewaretoken']").val());
        formdata.append("username", $("input[name='username']").val());
        formdata.append("password", $("input[name='password']").val());
        formdata.append("first_name", $("input[name='first_name']").val());
        formdata.append("last_name", $("input[name='last_name']").val());
        formdata.append("is_superuser", $("input[name='is_superuser']").is(":checked"));

        const response = await fetch("/api/v1/staff/create", { method: 'POST', body: formdata });
        const result = await response.json();
        if (result.message) {
            alert(result.message);
            load();
        }
        if (result.error) {
            alert(result.error);
        }
        refresh();
    }

    async function get(id) {
        const response = await fetch("/api/v1/staff/" + id, { method: 'GET' });
        const result = await response.json();
        $("input[name='id']").val(result.staff.id);
        if ($("input[name='is_superuser']").is(":checked") != result.staff.is_superuser) {
            $("input[name='is_superuser']").click();
        }
        $("input[name='username']").val(result.staff.username);
        $("input[name='first_name']").val(result.staff.first_name);
        $("input[name='last_name']").val(result.staff.last_name);
    }

    async function edit(id) {
        var formdata = new FormData();
        formdata.append("csrfmiddlewaretoken", $("input[name='csrfmiddlewaretoken']").val());
        formdata.append("username", $("input[name='username']").val());
        formdata.append("first_name", $("input[name='first_name']").val());
        formdata.append("last_name", $("input[name='last_name']").val());
        formdata.append("is_superuser", $("input[name='is_superuser']").is(":checked"));
        if ($("input[name='password']").val() != "")
            formdata.append("password", $("input[name='password']").val());

        const response = await fetch("/api/v1/staff/" + id + "/edit", { method: 'POST', body: formdata });
        const result = await response.json();
        if (result.message) {
            alert(result.message);
            load();
        }
        if (result.error) {
            alert(result.error);
        }
        refresh();
    }

    async function del(id) {
        const response = await fetch("/api/v1/staff/" + id + "/delete", { method: 'GET' });
        const result = await response.json();
        if (result.message) {
            alert(result.message);
            load();
        }
        if (result.error) {
            alert(result.error);
        }
        refresh();
    }

    function refresh() {
        $("#create").unbind('click').bind('click', (e) => {
            create();
        });

        $("#edit").unbind('click').bind('click', (e) => {
            if (confirm("Bạn có muốn lưu!")) {
                edit($('input[name="id"]').val());
            }
        });

        $("#delete").unbind('click').bind('click', (e) => {
            if (confirm("Bạn có muốn xoá!")) {
                del($('input[name="id"]').val());
            }
        });

        $(".create").unbind('click').bind('click', (e) => {
            $('.form-control').val("");
            $('#staffModal').modal('show');
            $('#create').show();
            $('#edit').hide();
            $('#delete').hide();
        });

        $(".edit").unbind('click').bind('click', (e) => {
            get($(e.target).data("id"));
            $('#staffModal').modal('show');
            $('#create').hide();
            $('#edit').show();
            $('#delete').show();
        });

        $(".delete").unbind('click').bind('click', (e) => {
            if (confirm("Bạn có muốn xoá!")) {
                del($(e.target).data("id"));
            }
        });
        $('#staffModal').modal('hide');
    }

    $(document).ready(() => {

        load();
    });
</script>
{% endblock %}