{% extends "index.html" %}

{% block content %}
{% load static %}
<div class="container">
    <link rel="stylesheet" href="{% static 'css/seats.css' %}">
    <div class="ticketbox">
        <div class="screen">
            <span class="text-screen"></span>
        </div>
        {% for row in rows %}
        <div class="row m-1 justify-content-center">
            {% for seat in row %}
            <div class="seat border{% if seat.status == '1' %} seat-occupied{% endif %}" data-seat-price="{{ schedule.price }}" data-seat-id="{{ seat.id }}">{{ seat.name }}</div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div class="price"></div>
    <div class="state"></div>
</div>
<script>
    $(document).ready(() => {
        $(".seat:not(.seat-occupied)").click((e) => {
            if ($(e.target).hasClass("seat-checked")) {
                $(e.target).removeClass("seat-checked")
            } else {
                $(e.target).addClass("seat-checked")
            }
            updatePrice();
            updateState();
        })

        function updatePrice() {
            var price = 0;
            const formater = new Intl.NumberFormat('vn-VN', { style: 'currency', currency: 'VND' });
            $(".seat-checked").each((index, element) => {
                price += $(element).data("seat-price")
            })
            $(".price").text(formater.format(price));
        }

        function updateState() {
            var state = "";
            $(".seat").each((index, element) => {
                if ($(element).hasClass("seat-checked") || $(element).hasClass("seat-occupied")) {
                    state += "1"
                } else {
                    state += "0"
                }
            })
            $(".state").text(state)
        }

        updatePrice();
    })
</script>
{% endblock %}