{% extends "index.html" %}

{% block content %}
{% load static %}
<div class="container">
    <form class="form" action="/booking/{{ schedule.id }}/combos" method="post">
        {% csrf_token %}
        <input type="text" name="seats" hidden>
        <input type="number" name="price" hidden>
    </form>
    <link rel="stylesheet" href="{% static 'css/seats.css' %}">
    <div class="ticketbox">
        <div class="screen">
            <span class="text-screen"></span>
        </div>
        {% for row in rows %}
        <div class="row m-1 justify-content-center">
            {% for seat in row %}
            <div class="seat border{% if seat.status == '1' %} seat-occupied{% endif %}" data-seat-price="{{ schedule.price }}" data-seat-id="{{ seat.id }}">{{ seat.name }}</div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div>{{ schedule.movie.title }}</div>
    <div>{{ schedule.movie.get_rate }}</div>
    <div>Cinema {{ schedule.auditorium.name }}</div>
    <div class="seats"></div>
    <div class="price"></div>
    <div class="state"></div>
    <button type="button" class="btn btn-primary" id="next">Tiếp tục</button>
</div>
<script>
    $(".seat:not(.seat-occupied)").click((e) => {
        if ($(e.target).hasClass("seat-checked")) {
            $(e.target).removeClass("seat-checked")
        } else {
            $(e.target).addClass("seat-checked")
        }
        updatePrice();
        updateSeat();
    })

    $("#next").click(() => {
        $("form").submit()
    })

    function updatePrice() {
        var price = 0;
        const formater = new Intl.NumberFormat('vn-VN', { style: 'currency', currency: 'VND' });
        $(".seat-checked").each((index, element) => {
            price += $(element).data("seat-price")
        })
        $(".price").text("Phim: " + formater.format(price));
        $("input[name='price']").val(price);
    }

    function updateSeat() {
        var seats = [];
        var seats_checked_state = "";
        $(".seat").each((index, element) => {
            if ($(element).hasClass("seat-checked")) {
                seats.push($(element).text())
            }
        })
        $(".seats").text("Ghế: " + seats.join(", "));
        $("input[name='seats']").val(seats.join(","));
    }

    async function load() {
        const response = await fetch("/api/v1/schedule/{{ schedule.id }}", { method: 'GET' });
        const result = await response.json();
        $("input[name='movie']").val(result.schedule.movie.id);
        $("input[name='auditorium']").val(result.schedule.auditorium.id);
        $("input[name='date']").val(result.schedule.date);
        $("input[name='time']").val(result.schedule.time);
    }

    $(document).ready(() => {
        load()
        updatePrice();
    })
</script>
{% endblock %}