{% extends "index.html" %}

{% block content %}
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1" name="is_vip">
                <label class="custom-control-label" for="customSwitch1">VIP</label>
            </div>
        </div>
        <div class="form-group">
            <label for="full_name" class="col-form-label">Tên thành viên:</label>
            <input type="text" class="form-control" name="full_name">
        </div>
        <div class="form-group">
            <label for="id_card" class="col-form-label">CMND:</label>
            <input type="text" class="form-control" name="id_card">
        </div>
        <div class="form-group">
            <label for="birthday" class="col-form-label">Sinh nhật:</label>
            <input type="date" class="form-control" name="birthday">
        </div>
    </form>
    <button type="button" class="btn btn-primary" id="create">Tạo</button>
</div>
<script>
    async function create() {
        var formdata = new FormData();
        formdata.append("csrfmiddlewaretoken", $("input[name='csrfmiddlewaretoken']").val());
        formdata.append("full_name", $("input[name='full_name']").val());
        formdata.append("id_card", $("input[name='id_card']").val());
        formdata.append("birthday", $("input[name='birthday']").val());
        formdata.append("is_vip", $("input[name='is_vip']").is(":checked"));

        const response = await fetch("/api/v1/member/create", { method: 'POST', body: formdata });
        const result = await response.json();
        if (result.message) {
            alert(result.message);
            load();
        }
        if (result.error) {
            alert(result.error);
        }
        refresh();
    }
    $("#create").unbind('click').bind('click', (e) => {
        create();
    });
</script>
{% endblock %}