{% extends "index.html" %}
{% load movie_filters %}

{% block content %}
{% load static %}
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        <div>{{ schedule.movie.title }}</div>
        <div>{{ schedule.movie.get_rate }}</div>
        <div>Cinema {{ schedule.auditorium.name }}</div>
        <div class="seats">{% for seat in seats %}{{ seat.name }},{% endfor %}</div>
        <input type="text" name="schedule" hidden value="{{ schedule.id }}">
        <input type="text" name="member">
        <input type="text" name="secret">
        <input type="text" name="seats" hidden value="{{ seats|to_json }}">
        <input type="text" name="combos" hidden value="{{ combos|to_json }}">
    </form>
    <div class="price_seats">{{ seats|get_sum_price_seats }}</div>
    <div class="price_combos">{{ combos|get_sum_price_combos }}</div>
    <div class="price_sum"></div>
    <div class="state"></div>
    <button type="button" class="btn btn-primary" id="create">Tiếp tục</button>
</div>
<script>
    function updatePrice() {
        const formater = new Intl.NumberFormat('vn-VN', { style: 'currency', currency: 'VND' });
        var price_seats = Number.parseInt($(".price_seats").text());
        var price_combos = Number.parseInt($(".price_combos").text());
        var price_sum = price_seats + price_combos;
        $(".price_combos").text("Combo: " + formater.format(price_combos));
        $(".price_seats").text("Phim: " + formater.format(price_seats));
        $(".price_sum").text("Tổng: " + formater.format(price_sum));
    }

    async function create() {
        var formdata = new FormData();
        formdata.append("csrfmiddlewaretoken", $("input[name='csrfmiddlewaretoken']").val());
        formdata.append("schedule", $("input[name='schedule']").val());
        formdata.append("member", $("input[name='member']").val());
        formdata.append("seats", $("input[name='seats']").val());
        formdata.append("combos", $("input[name='combos']").val());

        const response = await fetch("/api/v1/receipt/create", { method: 'POST', body: formdata });
        const result = await response.json();
        if (result.message) {
            alert(result.message);
            window.location.href = "/movie";
        }
        if (result.error) {
            alert(result.error);
        }
    }

    async function verify() {
        var formdata = new FormData();
        formdata.append("csrfmiddlewaretoken", $("input[name='csrfmiddlewaretoken']").val());
        formdata.append("member", $("input[name='member']").val());
        formdata.append("secret", $("input[name='secret']").val());

        const response = await fetch("/api/v1/member/verify", { method: 'POST', body: formdata });
        const result = await response.json();

        if (result.message) {
            alert(result.message);
            return true;
        }
        if (result.error) {
            alert(result.error);
            return false;
        }
    }

    $("#create").click(() => {
        if (verify()) { create(); }
    })

    $("input[name='secret']").change(() => {
        verify();
    })

    $(document).ready(() => {
        updatePrice();
    })
</script>
{% endblock %}