{% extends "index.html" %}
{% load movie_filters %}

{% block content %}
{% load static %}
<div class="container">
    <input type="text" name="price_seats" hidden value="{{ seats|get_sum_price_seats }}">
    <form class="form" action="/booking/{{ schedule.id }}/check" method="post">
        {% csrf_token %}
        <input type="text" name="seats" hidden value="{{ seats|to_json }}">
        <input type="text" name="combos" hidden>
    </form>
    <div class="row mt-5">
        {% for combo in combos %}
        <div class="col-6">
            <div class="row">
                <div class="col-3">
                    <img class="img-fluid d-block mx-auto rounded mb-4 mb-lg-0" src="{{ schedule.movie.image_url }}" alt="">
                </div>
                <div class="col-9">
                    <p><b>{{ combo.name }}</b></p>
                    <p>Giá: {{ combo.price }}</p>
                    <input type="number" class="combo" data-id="{{ combo.id }}" data-price="{{ combo.price }}" style="width: 50px;" value="0" min="0">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-1">
            <img class="img-fluid d-block mx-auto rounded mb-4 mb-lg-0" src="{{ schedule.movie.image_url }}" alt="">
        </div>
        <div class="col-lg-3">
            <div>{{ schedule.movie.title }}</div>
            <div>{{ schedule.auditorium.get_type }}</div>
        </div>
        <div class="col-lg-3">
            <div>Suất chiếu: {{ schedule.time }}, {{ schedule.date }}</div>
            <div>Phòng chiếu: Cinema {{ schedule.auditorium.name }}</div>
            <div>Ghế:
                {% for seat in seats %}
                {{ seat.name }}
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-3">
            <div>Phim: <span class="price_seats"></span></div>
            <div>Combo: <span class="price_combos"></span></div>
            <div>Tổng: <span class="price_sum"></span></div>
        </div>
        <div class="col-lg-2">
            <button type="button" class="btn btn-primary" id="next">Tiếp tục</button>
        </div>
    </div>
</div>
<script>
    $("#next").click(() => {
        $("form").submit()
    })

    $("input.combo").change(() => {
        updatePrice();
        updateCombos();
    })

    function updatePrice() {
        var price_combos = 0;
        const formater = new Intl.NumberFormat('vn-VN', { style: 'currency', currency: 'VND' });
        $("input.combo").each((index, element) => {
            if ($(element).val() != 0) {
                price_combos += $(element).val() * $(element).data("price")
            }
        })
        var price_seats = Number.parseInt($("input[name='price_seats']").val());
        var price_sum = price_seats + price_combos;
        $(".price_combos").text("Combo: " + formater.format(price_combos));
        $(".price_seats").text("Phim: " + formater.format(price_seats));
        $(".price_sum").text("Tổng: " + formater.format(price_sum));
    }

    function updateCombos() {
        var combo_objs = [];

        $("input.combo").each((index, element) => {
            if ($(element).val() != 0) {
                combo_objs.push({
                    "id": $(element).data("id"),
                    "price": $(element).data("price"),
                    "num": Number.parseInt($(element).val()),
                })
            }
        })
        $("input[name='combos']").val(JSON.stringify(combo_objs))
    }

    $(document).ready(() => {
        updatePrice();
    })
</script>
{% endblock %}