{% extends "index.html" %}

{% block content %}
{% load static %}
<div class="container">
    <form class="form" action="/booking/{{ schedule.id }}/combos" method="post">
        {% csrf_token %}
        <input type="text" name="seats" hidden>
    </form>
    <link rel="stylesheet" href="{% static 'css/seats.css' %}">
    <div class="ticketbox">
        <div class="screen">
            <span class="text-screen"></span>
        </div>
        {% for row in rows %}
        <div class="row m-1 justify-content-center">
            {% for seat in row %}
            <div class="seat border{% if seat.status == '1' %} seat-occupied{% endif %}" data-price="{{ schedule.price }}" data-id="{{ seat.id }}" data-name="{{ seat.name }}">{{ seat.name }}</div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-1">
            <img class="img-fluid d-block mx-auto rounded mb-4 mb-lg-0" src="{{ schedule.movie.image_url }}" alt="">
        </div>
        <div class="col-lg-3">
            <div>{{ schedule.movie.title }}</div>
            <div>{{ schedule.auditorium.get_type }}</div>
        </div>
        <div class="col-lg-3">
            <div>Suất chiếu: {{ schedule.time }}, {{ schedule.date }}</div>
            <div>Phòng chiếu: Cinema {{ schedule.auditorium.name }}</div>
            <div>Ghế: <span class="seats"></span></div>
        </div>
        <div class="col-lg-3">
            <div>Phim: <span class="price_seats"></span></div>
            <div>Combo: <span class="price_combos"></span></div>
            <div>Tổng: <span class="price_sum"></span></div>
        </div>
        <div class="col-lg-2">
            <button type="button" class="btn btn-primary" id="next">Tiếp tục</button>
        </div>
    </div>
</div>
<script>
    $(".seat:not(.seat-occupied)").click((e) => {
        if ($(e.target).hasClass("seat-checked")) {
            $(e.target).removeClass("seat-checked")
        } else {
            $(e.target).addClass("seat-checked")
        }
        updatePrice();
        updateSeat();
    })

    $("#next").click(() => {
        $("form").submit()
    })

    function updatePrice() {
        var price_seats = 0;
        const formater = new Intl.NumberFormat('vn-VN', { style: 'currency', currency: 'VND' });
        $(".seat-checked").each((index, element) => {
            price_seats += $(element).data("price")
        })
        var price_combos = 0;
        var price_sum = price_seats + price_combos;
        $(".price_seats").text(formater.format(price_seats));
        $(".price_combos").text(formater.format(price_combos));
        $(".price_sum").text(formater.format(price_sum));
    }

    function updateSeat() {
        var seats = [];
        var seat_objs = [];
        $(".seat").each((index, element) => {
            if ($(element).hasClass("seat-checked")) {
                seats.push($(element).data("name"));
                seat_objs.push({
                    "id": $(element).data("id"),
                    "name": $(element).data("name"),
                    "price": $(element).data("price"),
                });
            }
        })
        $(".seats").text(seats.join(", "));
        $("input[name='seats']").val(JSON.stringify(seat_objs));
    }

    $(document).ready(() => {
        updatePrice();
    })
</script>
{% endblock %}