{% extends "index.html" %}
{% load movie_filters %}

{% block content %}
{% load static %}
<div class="container">
    <h3 class="mt-5">Xác nhận</h3>
    <div class="row">
        <div class="col-8">
            <form action="" method="post">
                {% csrf_token %}
                <input type="text" name="schedule" hidden value="{{ schedule.id }}">
                <input type="text" name="seats" hidden value="{{ seats|to_json }}">
                <input type="text" name="combos" hidden value="{{ combos|to_json }}">
                <div class="form-group">
                    <label for="member" class="col-form-label">Nhập mã thành viên:</label>
                    <input type="text" name="member">
                </div>
                <div class="form-group">
                    <label for="secret" class="col-form-label">Nhập mã bí mật:</label>
                    <input type="text" name="secret">
                    <span class="verify text-success">Xác nhận thành công</span>
                    <span class="verify text-danger">Xác nhận thất bại</span>
                </div>
            </form>
        </div>
        <div class="col-4">
            <div class="table-responsive">
                <table class="table table-striped table-sm" style="text-align:center">
                    <thead>
                        <tr>
                            <th colspan="2">Tổng cộng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ seats|length }} ghế</td>
                            <td>{{ seats|get_sum_price_seats }}</td>
                        </tr>
                        {% for combo in combos %}
                            <tr>
                                <td>{{ combo.name }} x {{ combo.num }}</td>
                                <td>{{ combo.sum_price }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="w-100 pb-5" style="position:absolute;bottom:0;">
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-1">
                <img class="img-fluid d-block mx-auto rounded mb-4 mb-lg-0" src="{{ schedule.movie.image_url }}" alt="">
            </div>
            <div class="col-3">
                <div>{{ schedule.movie.title }}</div>
                <div>{{ schedule.auditorium.get_type }}</div>
            </div>
            <div class="col-3">
                <div>Suất chiếu: {{ schedule.time }}, {{ schedule.date }}</div>
                <div>Phòng chiếu: Cinema {{ schedule.auditorium.name }}</div>
                <div>Ghế:
                    {% for seat in seats %}
                    {{ seat.name }}
                    {% endfor %}
                </div>
            </div>
            <div class="col-3">
                <div>Phim: <span class="price_seats">{{ seats|get_sum_price_seats }}</span></div>
                <div>Combo: <span class="price_combos">{{ combos|get_sum_price_combos }}</span></div>
                <div>Tổng: <span class="price_sum"></span></div>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-primary" id="create">Xác nhận</button>
            </div>
        </div>
    </div>
</div>
<script>
    function updatePrice() {
        const formater = new Intl.NumberFormat('vn-VN', { style: 'currency', currency: 'VND' });
        var price_seats = Number.parseInt($(".price_seats").text());
        var price_combos = Number.parseInt($(".price_combos").text());
        var price_sum = price_seats + price_combos;
        $(".price_combos").text(formater.format(price_combos));
        $(".price_seats").text(formater.format(price_seats));
        $(".price_sum").text(formater.format(price_sum));
    }

    async function create() {
        var formdata = new FormData();
        formdata.append("csrfmiddlewaretoken", $("input[name='csrfmiddlewaretoken']").val());
        formdata.append("schedule", $("input[name='schedule']").val());
        formdata.append("member", $("input[name='member']").val());
        formdata.append("seats", $("input[name='seats']").val());
        formdata.append("combos", $("input[name='combos']").val());

        const response = await fetch("/api/v1/receipt/create", { method: 'POST', body: formdata });
        const result = await response.json();
        if (result.message) {
            alert(result.message);
            window.location.href = "/movie";
        }
        if (result.error) {
            alert(result.error);
        }
    }

    async function verify() {
        var formdata = new FormData();
        formdata.append("csrfmiddlewaretoken", $("input[name='csrfmiddlewaretoken']").val());
        formdata.append("member", $("input[name='member']").val());
        formdata.append("secret", $("input[name='secret']").val());

        const response = await fetch("/api/v1/member/verify", { method: 'POST', body: formdata });
        const result = await response.json();

        if (result.message) {
            $("#create").attr("disabled", false);
            $(".verify.text-success").show();
            $(".verify.text-danger").hide();
        } else {
            $("#create").attr("disabled", true);
            $(".verify.text-success").hide();
            $(".verify.text-danger").show();
        }
    }

    $("#create").click(() => {
        create();
    })

    $("input[name='secret']").change(() => {
        verify();
    })

    $(document).ready(() => {
        updatePrice();
        $("#create").attr("disabled", true);
        $(".verify").hide();
    })
</script>
{% endblock %}