{% extends "index.html" %}

{% block content %}
{% load static %}
<div class="container">
    <form class="form" action="/booking/{{ schedule.id }}/combos" method="post">
        {% csrf_token %}
        <input type="text" name="seats" hidden>
    </form>
    <link rel="stylesheet" href="{% static 'css/seats.css' %}">
    <div class="ticketbox">
        <div class="screen">
            <span class="text-screen"></span>
        </div>
        {% for row in rows %}
        <div class="row m-1 justify-content-center">
            {% for seat in row %}
            <div class="seat border{% if seat.status == '1' %} seat-occupied{% endif %}" data-price="{{ schedule.price }}" data-id="{{ seat.id }}" data-name="{{ seat.name }}">{{ seat.name }}</div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div>{{ schedule.movie.title }}</div>
    <div>{{ schedule.movie.get_rate }}</div>
    <div>Cinema {{ schedule.auditorium.name }}</div>
    <div class="seats"></div>
    <div class="price_seats"></div>
    <div class="state"></div>
    <button type="button" class="btn btn-primary" id="next">Tiếp tục</button>
</div>
<script>
    $(".seat:not(.seat-occupied)").click((e) => {
        if ($(e.target).hasClass("seat-checked")) {
            $(e.target).removeClass("seat-checked")
        } else {
            $(e.target).addClass("seat-checked")
        }
        updatePrice();
        updateSeat();
    })

    $("#next").click(() => {
        $("form").submit()
    })

    function updatePrice() {
        var price_seats = 0;
        const formater = new Intl.NumberFormat('vn-VN', { style: 'currency', currency: 'VND' });
        $(".seat-checked").each((index, element) => {
            price_seats += $(element).data("price")
        })
        $(".price_seats").text("Phim: " + formater.format(price_seats));
    }

    function updateSeat() {
        var seats = [];
        var seat_objs = [];
        $(".seat").each((index, element) => {
            if ($(element).hasClass("seat-checked")) {
                seats.push($(element).data("name"));
                seat_objs.push({
                    "id": $(element).data("id"),
                    "name": $(element).data("name"),
                    "price": $(element).data("price"),
                });
            }
        })
        $(".seats").text("Ghế: " + seats.join(", "));
        $("input[name='seats']").val(JSON.stringify(seat_objs));
    }

    $(document).ready(() => {
        updatePrice();
    })
</script>
{% endblock %}