{% extends "index.html" %}
{% load movie_filters %}

{% block content %}
{% load static %}
<div class="container">
    <form class="form" action="/combo/check" method="post">
        {% csrf_token %}
        <input type="text" name="combos" hidden>
    </form>
    <div class="row mt-5">
        {% for combo in combos %}
        <div class="col-6">
            <div class="row">
                <div class="col-3">
                    <img class="img-fluid d-block mx-auto rounded mb-4 mb-lg-0" src="{{ combo.image_url }}" alt="">
                </div>
                <div class="col-9">
                    <p><b>{{ combo.name }}</b></p>
                    <p>Giá: {{ combo.price }}</p>
                    <input type="number" class="combo" data-id="{{ combo.id }}" data-price="{{ combo.price }}" data-name="{{ combo.name }}"
                        style="width: 50px;" value="0" min="0">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="w-100 pb-3 fixed-bottom bg-white">
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-7">
            </div>
            <div class="col-3">
                <div>Tổng: <span class="price_sum"></span></div>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-primary" id="next">Tiếp tục</button>
            </div>
        </div>
    </div>
</div>
<script>
    $("#next").click(() => {
        $("form").submit()
    })

    $("input.combo").change(() => {
        updatePrice();
        updateCombos();
    })

    function updatePrice() {
        var price_combos = 0;
        const formater = new Intl.NumberFormat('vn-VN', { style: 'currency', currency: 'VND' });
        $("input.combo").each((index, element) => {
            if ($(element).val() != 0) {
                price_combos += $(element).val() * $(element).data("price")
            }
        })
        $(".price_sum").text(formater.format(price_combos));
    }

    function updateCombos() {
        var combo_objs = [];

        $("input.combo").each((index, element) => {
            if ($(element).val() != 0) {
                combo_objs.push({
                    "id": $(element).data("id"),
                    "name": $(element).data("name"),
                    "price": $(element).data("price"),
                    "num": Number.parseInt($(element).val()),
                    "sum_price": Number.parseInt($(element).val()) * $(element).data("price"),
                })
            }
        })
        $("input[name='combos']").val(JSON.stringify(combo_objs))
    }

    $(document).ready(() => {
        updatePrice();
    })
</script>
{% endblock %}